.custom_video_player_wrapper {
  position: relative;
  max-height: 768px;
  padding: 32px;
  /* width: 100%; */
  background: black;
  /* overflow: hidden; */
}

.custom_video_player_wrapper video {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

.custom_video_controls {
  position: absolute;
  z-index: 3;
  width: calc(100% - 64px);
  padding: 0 32px;
  bottom: 0;
}

.control_elemennts_wrapper {
  color: white;
  display: flex;
  justify-content: space-between;
}

.video_control_play {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 37px 0 37px 60px;
}

.video_control_play.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}

.video_control_play:hover {
  border-color: transparent transparent transparent #404040;
}
